# Bundler
vendor/bundle/
.bundle/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

# Xcode
build/
DerivedData/
*.xcuserdata/
*.xcworkspace/xcuserdata/

# macOS
.DS_Store
